body {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
body {background-color: #EDEBE6;}
p {color: #000000;}
h1, h2 {color: #355C7D;}
.special {background-color: #C5D4EB;}
nav {background-color: #94C7B6;}
nav a {color: #F5FBFB;}
nav a:hover {background-color: #C1CDCD;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
