body {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding: 20px;}
body {background-color: #f2f2f2;}
body p h1 ol {padding: 30px;}
p {color: #000000; font-size: 1.5em;}
h1, h2 {color: #355C7D;}
h4 {font-size: 1.5em;}
.special {background-color: #C5D4EB;}
nav {background-color: #913f5f;}
nav a {color: #ffffff; font-size: 20px;}
nav a:hover {background-color:lightslategray;}
nav span {color:#ffffff;}
nav {padding: 20px;}
nav {margin-bottom: 30px;}
hr {border-width: 2.5px;}
li p {max-width: 800px;}
iframe {width: 800px; height: 500px;}